<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles compress %}

<head>
    <!-- overal liggen roerloos de codes: -->

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %} | ppparalllax.org </title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/ppparalllax.css" %}">
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}

    <!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">

<ul id="social-buttons">
    <li><a href="http://facebook.com/ppparalllax">
        <img alt="PPParalllax Facebook" src={% static "img/simple_icons_black/Facebook.png" %}>
    </a></li>
    <li><a href="http://twitter.com/ppparalllax">
        <img alt="PPParalllax Twitter" src={% static "img/simple_icons_black/Twitter.png" %}>
    </a></li>
</ul>


<div id="logo-buffer">
    <span id="logo"><a href="/">/ppparalllax</a></span>
</div>

<div id="container">

    <div id="top-menu">
        {% page_menu "pages/menus/nav.html" %}
    </div>


    <div id="content-main" class="col-md-7">

        {% block title %}{% endblock %}
        {% block main %}{% endblock %}
    </div>
</div>

<footer>
    <div class="container">
        {% page_menu "pages/menus/footer.html" %}
    </div>
</footer>

{% block footer_js %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797892-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

</body>
</html>
