{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}


{% block meta_title %}
    home
{% endblock %}

{% block main %}
    <div id="features">

        {% for feature in featured_blogposts %}

            <div class="featured-post
                {% if feature.placement == 'right' %}
                    half-width right
                {% elif feature.placement == 'left' %}
                    half-width left
                {% elif feature.placement == 'full' %}
                    full-width
                {% endif %}
                ">
                <h2 class="post-title"><a href="{{ feature.post.get_absolute_url }}">
                    {{ feature.post.properties.authored_title }}
                </a>
                </h2>

                <a href="{{ feature.post.get_absolute_url }}">
                    {% if feature.placement == 'full' %}
                        <img src="{{ MEDIA_URL }}{% thumbnail feature.display_image 450 200 upscale=False %}"/>
                    {% else %}
                        <img src="{{ MEDIA_URL }}{% thumbnail feature.display_image 450 350 upscale=False %}"/>
                    {% endif %}
                </a>

                <div class="subtitle">{{ feature.subtitle | default_if_none:'' }}</div>

            </div>

        {% endfor %}
    </div>

{% endblock %}
