{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}
    {% if blog_post.properties.author %} - {{ blog_post.properties.author.name }} {% endif %} {% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for blog_post as tags %}
    {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    <h2>{{ blog_post.properties.authored_title }}</h2>

    <div class="publish-date">
        {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    </div>
{% endblock %}

{% block main %}

    {% block blog_post_detail_postedby %}
    {% endblock %}

    {% block blog_post_detail_featured_image %}
        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
            <p><img class="featured-image img-responsive"
                    src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
        {% endif %}
    {% endblock %}

    {% block blog_post_detail_content %}
        {{ blog_post.content|richtext_filters|safe }}
    {% endblock %}

    {% block blog_post_detail_sharebuttons %}
        <ul class="share-buttons">
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ppparalllax.org{{ request.get_full_path }}"
                   title="Share on Facebook" target="_blank"
                   onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.ppparalllax.org{{ request.get_full_path }}')">
                    <img alt="Share on Facebook" src={% static "img/simple_icons_black/Facebook.png" %}></a></li>
            <li>
                <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.ppparalllax.org&text=:%20http%3A%2F%2Fwww.ppparalllax.org&via=ppparalllax"
                   target="_blank" title="Tweet"
                   onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img
                        alt="Tweet" src="{% static "img/simple_icons_black/Twitter.png" %}"></a></li>
        </ul>
    {% endblock %}

    {% if blog_post.properties.authors.first %}
        {% block author_info %}
            <div class="authors">
                {% for author in blog_post.properties.authors.all %}

                    <div class="author">
                        {% if author.image %}
                            <img src="{{ MEDIA_URL }}{% thumbnail author.image 200 200 %}">
                        {% endif %}
                        <div class="author-info">
                            <h3>{{ author.name }}
                                {% if author.birthyear %}
                                    ({{ author.birthyear }})
                                {% endif %}
                            </h3>
                            <div class="author-bio">{{ author.bio }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endif %}

    {% block blog_post_detail_related_posts %}
        {% if related_posts %}
            <div id="related-posts">
                {% for post in related_posts|slice:":3" %}
                    <div class="related-post">

                        <a href="{{ post.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{% thumbnail post.properties.display_image 200 200 %}">
                        </a>
                        <div class="post-info">
                            <a href="{{ post.get_absolute_url }}">
                                <h3>{{ post.title }}</h3>
                                <div class="related-author">{{ post.properties.author.name|default:'' }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
