{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}ppparalllax{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}



    {% for blog_post in blog_posts.object_list %}

        <div class="blog-list-detail">

            {% block blog_post_list_post_title %}
                <h2 class="post-title">
                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.properties.authored_title }}</a>
                </h2>

            {% endblock %}
            {% block blog_post_list_post_metainfo %}
                <div class="publish-date">
                    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                </div>
            {% endblock %}

            {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                {% block blog_post_list_post_featured_image %}
                    <a href="{{ blog_post.get_absolute_url }}">
                        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                            <p><img class="img-responsive"
                                    src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
                        {% endif %}
                    </a>
                {% endblock %}
            {% endif %}

            {% block blog_post_list_post_content %}
                {{ blog_post.description_from_content|safe }}
            {% endblock %}

            {% block blog_post_list_post_links %}
                <p>
                    <a href="{{ blog_post.get_absolute_url }}">{% trans ">>>>" %}</a>
                </p>


            {% endblock %}
        </div>
    {% endfor %}


    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

{% endblock %}

{% block right_panel %}
{% endblock %}
