{% load i18n pages_tags staticfiles %}

{% spaceless %}

{#    <a href="/"><img id="logo" src="{% static 'img/logo_big_name_bottom.png' %}"/></a>#}

    {% if page_branch_in_menu %}
        <ul class="nav">

            {% for page in page_branch %}
                {% if page.in_menu %}
                    <li>
                        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endspaceless %}
