@import url('https://fonts.googleapis.com/css?family=Assistant');

$logo-buffer-width: 300px;

* {
  font-family: 'Assistant', sans-serif;
}

/* CONTENT */

#logo-buffer {
  position: fixed;
  width: $logo-buffer-width;
}

#logo {
  position: absolute;
  top: 5px;
  right: 40px;
  font-size: xx-large;

  a {
    text-decoration: none;
  }
}

#container {
  margin-left: $logo-buffer-width;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
  margin-bottom: 100px;
}

#content-main {
  width: 80%;
  padding-top: 100px;
  -webkit-font-smoothing: antialiased;
}

ul#social-buttons {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 10px;
  z-index: 10;
  overflow: hidden;

  list-style-type: none;
  display: table;

  li {
    float: left;

    a {
      text-decoration: none;
    }
  }
}

/* FEATURES */

#features {
  margin-bottom: 100px;
}

.featured-post {
  float: left;
  margin-bottom: 40px;
}

.half-width {
  width: calc(50% - 10px);

  &.right {
    margin-left: 10px;
  }

  &.left {
    margin-right: 10px;
  }
}

.full-width {
  width: 100%;

  img {
    width: 100%
  }
}

.featured-post img {
  width: 100%;

}

.blog-list-detail {
  margin-bottom: 100px;
}

img.featured-image {
  width: 100%;
  max-width: 700px;
}

.publish-date {
  font-size: small;
  color: grey;
}

a:visited {
  color: black;
}

a {
  color: black;
}

h2.post-title {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#related-posts {
  margin-top: 100px;
  margin-right: auto;

  .related-post {
    width: calc(33% - 10px);
    float: left;

    h3 {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
    img {
      width: auto;
      height: auto;
    }
  }
}

.related-author {
  color: gray;
}

.author {
  margin-top: 50px;
  clear: right;

  img {
    width: 100px;
    margin-top: 5px;
  }

  .author-info {
    width: calc(100% - 140px);
    padding: 0 20px;
    float: right;

    h3 {
      margin-top: 0;
    }
  }
}

/* NAV */
ul.nav {
  padding: 0;
  display: table;
  overflow: hidden;
  list-style-type: none;
  font-size: 12px;
  width: 100%;
  margin-top: 15px;

  li {
    float: left;
    padding: 2px;
    display: table-cell;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;

    &::before {
      content: " / "
    }
  }

  a {
    //text-decoration: none;
  }

}

ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {

  #logo-buffer {
    position: inherit;
    width: 100%;
    float: initial;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #logo {
    position: relative;
    top: 0;
    right: 0;
    font-size: 50px;
  }

  #container {
    margin-left: 50px;
    margin-right: 50px;
    position: initial;
  }

  .featured-post {
    margin-bottom: 0px;
  }

  #content-main {
    width: 100%;
    padding-top: 50px;
  }

  #related-posts {
    margin-top: 100px;
    height: 200px;
  }

  .related-post {
    width: calc(100% - 10px);
    padding-top: 20px;
    padding-bottom: 20px;

    img {
      float: left;
      width: 200px;
      height: auto;
    }

    h3 {
      margin-top: 0;
    }
    .post-info {
      float: right;
      width: calc(100% - 240px);
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 500px) {

  #content-main {
    padding-top: 20px;
  }

  ul.nav > li {
    float: inherit;
    display: inherit;
    margin: inherit;
    width: inherit;
  }

  ul#social-buttons {
    margin-top: 10px;
    li {
      float: inherit;
    }
  }

  /* when the screen gets this narrow, don't put two features on one line anymore: */
  .half-width {
    width: 100%;

    &.right {
      margin-left: inherit;
    }

    &.left {
      margin-right: inherit;
    }
  }

  .full-width {
    width: 100%;
  }
}


